Cuadernos traducidos/1 Pytorch avanzado/data/mnist/mnist.pkl.gz
Cuadernos traducidos/1 Pytorch avanzado/data/FashionMNIST
Cuadernos traducidos/1 Pytorch avanzado/runs
Apuntes/1 Introduccion a Pytorch/data