Apuntes/1 Introduccion a Pytorch/data
02 Aprendiendo Pytorch/data
Apuntes/Cuadernos traducidos/1 Pytorch avanzado/data
Apuntes/Cuadernos traducidos/1 Pytorch avanzado/runs
01 Introduccion a las redes neuronales/AND 3 entradas Pytorch.ipynb
01 Introduccion a las redes neuronales/AND Pytorch.ipynb
01 Introduccion a las redes neuronales/Animacion.ipynb
01 Introduccion a las redes neuronales/OR Pytorch.ipynb
01 Introduccion a las redes neuronales/XNOR Pytorch.ipynb
01 Introduccion a las redes neuronales/XNOR varias neuronas con función de activacion Pytorch.ipynb
01 Introduccion a las redes neuronales/XNOR varias neuronas Pytorch.ipynb
01 Introduccion a las redes neuronales/XNOR Numpy.ipynb
01 Introduccion a las redes neuronales/Error regresion con bias.xlsx
01 Introduccion a las redes neuronales/XNOR.xlsx
Apuntes/01 - Neural Networks and Deep Learning.docx
Apuntes/02 - Deep Neural Networks Hyperparameters.docx
03 Redes fully connected/data
Apuntes
04 Redes convolucionales/data
05 Transformers/info.ipynb